body .a{
   
    position: absolute; left:500px; top:200px;
    
}
body{background-color: #9b1c1f;}
body .d {position: absolute;left:25px;top: 200px;
    color: aliceblue;
    font-size: 30px;
}
body .c textarea{
    color: aliceblue;
    background-color: #9b1c1f;
    border: 0cm;
    font-size: 20px;
    resize: none;
}
body .e img{position: absolute;
    left:950px;
    top:0px;

}
body a.首页{
	padding:0.5rem;
    position: absolute;
    left:1400px;
    top: 600px;
    text-decoration: none;
    color:darkorange;
    font: 2rem /3.2 "微软雅黑","Microsoft Yahei";
}
body a.首页:hover{
  color:wheat;
}
    
