body .a{
   
    position: absolute; left:500px; top:200px;
    
}
body{background-color: #9b1c1f;}
body .d {position: absolute;left:25px;top: 200px;
    color: aliceblue;
    font-size: 30px;
}
body .c textarea{
    color: aliceblue;
    background-color: #9b1c1f;
    border: 0cm;
    font-size: 20px;
    resize: none;
}
body .e img{position: absolute;
    left:950px;
    top:0px;

}

.button-style1{
	position:absolute;
	top:90%;
	opacity:1;
	z-index:100;
}
.button-style1 {
	position:absolute;
	left:80%;
	
}
@keyframes btn1 {
	0% {
		opacity:0;
		left:43.5%;
	}
	70% {
		opacity:0;
		left:43.5%;
	}
	100% {
		opacity:1;
		left:20%;
	}
}
@-webkit-keyframes btn1 {
	0% {
		opacity:0;
		left:43.5%;
	}
	70% {
		opacity:0;
		left:43.5%;
	}
	100% {
		opacity:1;
		left:20%;
	}
}

.lk1 {
	text-decoration:none;
	font-family: Microsoft YaHei;
	color:#fff;
	transition:all 0.8s;
}
.link1{
	width:300px;
	height:60px;
	border:2px solid #fff;
	-webkit-border:1px solid #fff;
	border-radius:30px;
	font-size: 23px;
	text-align:center;
	background: #e00f2b;
	transition:all 0.5s;
}

.bt1{
	position:relative;
	top:22%;
	vertical-align:middle;
}

a.lk1:hover {
	color:#e00f2b;
	transition:all 0.5s;
}
.link1:hover {
	background-color:#fff;
	background-color:rgba(255,255,255,0,2);
	border:2px solid #BBB;
	transition:all 0.8s;
}
